.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
.card-container > div {
  text-align: center;
  padding: 8px;
  margin-left: -2rem;
  width: 33.4rem;
  font-size: 30px;
  color: rgb(234, 10, 10);
  font-weight: bolder;
}

h1{
  font-size: 20px;
 }
 .top{
  margin-top: 3rem;
 }