.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 27rem;
  margin-left: 2.4rem;
  margin-top: 1rem;
  
}
.card-container > div {
  position: relative;
  width: 15px;
  font-weight: bolder;
}
.red-box{
  position: absolute;
  margin-left: 3.4rem;
  color: rgb(255, 255, 255);
  background-color: red;
  width: 4rem;
  padding-left: 3px;
}


h1{
  font-size: 20px;
 }