.footer-container{
    margin-left: 4.8rem;
}
.med-social{
    margin-left: 8rem;
    font-weight: bold;
    color: rgb(230, 5, 5);
    font-size: 20px;
}
.med-social:hover{
    color: blue;
}
.text-center{
    font-weight: bolder;
}
.text-uppercase{
    font-weight: bolder;
}
.text-reset{
    font-weight: bold;
    width: 4rem;
    margin-left: -3.3rem;
}

