.footer-container{
    margin-left: 4.8rem;
}
.med-social{
    margin-left: 8rem;
    font-weight: bold;
    color: rgb(230, 5, 5);
    font-size: 20px;
}
.med-social:hover{
    color: blue;
}
.text-center{
    font-weight: bolder;
}
.text-uppercase{
    font-weight: bolder;
}
.text-reset{
    font-weight: bold;
    width: 4rem;
    margin-left: -3.3rem;
}

.me-3{
    margin-left: -1rem;
}
.text-muted{
    margin-top: 3rem;
}
p{
    margin-left: 13rem;
}
h6{
    color: rgb(252, 251, 251);
    background-color: red;
    text-align: center;
}
.academy{
    font-size: 1rem;
    background-color: red;
    margin-left: -11px;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 1.24) 0px 3px 2px;
}
.network{
    color: red;
    font-size: 2rem;
    margin-left: -4rem;
    font-family: 'Caveat', cursive;
    margin-top: 3rem;
}
.net{
    background-color: red;
    color: white;
    box-shadow: 12px 12px 2px 1px rgba(76, 76, 83, 0.7);
}
.net:hover{
    color: white;
}
.textw-uppercase{
    width: 26rem;
    margin-left: 27.3rem;
}

.me{
    margin-left: 22rem;
}
