.card{
  margin-top: 7rem;
width: 17rem;
margin-left: 5.3rem;
}
img:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.card-title{
  position: relative;
margin-top: -6rem;
margin-left: -1rem;
}
.card-text{
  position: absolute;
  margin-top: -3.6rem;
  color: red;
  margin-left: 0rem;
  font-weight: bold;
  font-size: 18px;
  padding-left: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3px;
  width: 7px;
}
