#pr{
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.3rem;
    background-color: red;
    width: 15rem;
}

.RBpic{
    position: absolute;
    width: 20rem;
    height: 40vh;
    margin-top: -55rem;
    margin-left: 20rem;
    box-shadow: rgba(60, 64, 67, 0.6) 0px 2px 7px 4px;
    border-radius: 50%;
   
}
.blackglasses{
    width: 80rem;
    height: 63.3rem;
    margin-top: -67.1rem;
    margin-left: 15rem;
}